<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24345633106-vdpl485cmrhg30vqg6ea49kbblj6bvh5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24345633106-vdpl485cmrhg30vqg6ea49kbblj6bvh5</string>
	<key>API_KEY</key>
	<string>AIzaSyBNtlq3czxPJ3DT4BE3nkVdlnRc4OsrE60</string>
	<key>GCM_SENDER_ID</key>
	<string>24345633106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yoonjeong.TermProject-ToDoList</string>
	<key>PROJECT_ID</key>
	<string>termproejct-todolist</string>
	<key>STORAGE_BUCKET</key>
	<string>termproejct-todolist.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24345633106:ios:8dbc5c3ad64d6256239a8b</string>
</dict>
</plist>